html { font-family: monospace;
       font-size: 14px; }
	   
#header { max-width: 500px;
    	  margin: auto;
    	  font-size: 23px; }
		  
#info { max-width: 500px;
    	margin: auto;
    	overflow: hidden; }

.labels { width: 50%;
    	  float: left;
    	  margin-top: 20px; }

.labels>div { margin: 5px 0;
    		  border-bottom: dashed 1px #ccc; }

.condition { width: 50%;
			 float: right;
			 margin-top: 20px; }
			 
.condition>div { font-weight: bold;
				 margin: 5px 0;
				 text-align: right;
				 border-bottom: dashed 1px #ccc; }
